<div class="navbar bg-base-100 shadow-sm sticky top-0 z-50" [ngClass]="{
  `backdrop-blur-2xl  bg-transparent` : isBlur
}">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0"  class="">
        <div class="text-xs flex-col flex ml-4">
          <div class="flex-col md:flex hidden">
            <span><b>Usuario</b>:   <span class="text-green-400"> {{" "}} {{userName}}</span> </span>
            <span><b>Fecha</b>:  <span class="text-green-400">{{date}}</span> </span>
            

          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost text-xl"><img class="w-24 h-24 object-contain" src="/red5g.png" alt=""></a>
  </div>
  <div class="navbar-end">
    <button class="btn" (click)="handleClickLogout()">Cerrar Sesion <ng-icon name="heroArrowRightEndOnRectangle" size="20px" /> </button>
  </div>
</div>